<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>在线考试系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
</style>
<!--[if lt IE 9]>
	<script src="https://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
<![endif]-->
</head>
<body>

<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">在线考试系统</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/toIndex/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
				<li><a data-target="#stuModal" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> 学生</a></li>
				<li><a data-target="#teaModal" data-toggle="modal"><span class="glyphicon glyphicon-user"></span> 教师</a></li>
                <li><a class="nav-link" href="/admin"><span class="glyphicon glyphicon-user"></span>管理员</a></li>
                <a href="/logout/"><li style="position: fixed;right: 20px; font-size: 20px;top:22px;color:#cc1313">安全退出</li></a>
			</ul>
		</div><!-- /.nav-collapse -->
	</div><!-- /.container -->
</div>


</body>
</html>